h3 {
    color: #6B8A7A;
}

.mobil{
    color: #6DC5D1;
}

#avanza{
    color: #FFFF80;
}

body{
    background: linear-gradient(90deg, #B6C7AA, #597445) ;
    background-size: 1280px 720px;
}

.link-check a{
    color: #597445;
    text-decoration: none;
}

.link-check a:hover{
    text-decoration: underline;
}

.konten{
    text-align: center;
    margin: auto;
    background-color: pink;
    width: 200px;
    height: 200px;
}

